<style>
  @font-face {
    font-family: "CascadiaCode";
    src: url("/static/CascadiaCode.woff2");
    }
  body {
    font-family: CascadiaCode;
    background: rgb(33,33,33);
  }

  #page_container {
    background: rgb(66,66,66);
    color: rgb(222,222,222)
    max-width: 720px;
    max-height: 100%;
    margin: 0 100 0 auto;
  }
</style>